.sidebarbg {
    background-color: rgb(26, 25, 25);
    color: white;
    height: 640px;
    position: fixed;
    width: 220px;
    padding: 20px;
    box-shadow: 4px 5px 5px -2px #888;
}

.sidebarbg a {
    color: white;
    text-decoration: none;
}

.userlogo {
    padding: 10px 0px 10px 40px;
}

.userlogo img {
    margin-left: 10px;
}

@media (max-width: 500px) {
    .sidebarbg {
        display: none;
    }
}