<!-- <div class="container ">
    <div class="row scrollCss">
        <div class="col-lg-4">
            <div class="profile-card-4 z-depth-3 ">
                <div class="card ">
                    <div class="card-body">
                        <ul class="list-group shadow-none">
                            <li class="list-group-item">
                                <div class="list-icon">
                                    <i class="fa fa-phone-square"></i>
                                </div>
                                <div class="list-details">
                                    <small>Active Days </small>
                                    <span>{{getUserChallangeData.userActivedays}}</span>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="list-icon">
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <div class="list-details">
                                    <small>Total Hours :</small>
                                    <span>{{getUserChallangeData.userTotalHr}}</span>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="list-details">
                                    <span>cycle :  </span>
                                    <small>{{getUserChallangeData.userCycling}}</small>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="list-details">
                                    <span>Run:  </span>
                                    <small>{{getUserChallangeData.userRunning}}</small>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="list-details">
                                    <span>Walk :  </span>
                                    <small>{{getUserChallangeData.totalWalking}}</small>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="list-details">
                                    <span>Hike :  </span>
                                    <small>{{getUserChallangeData.userHiking}}</small>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="list-details">
                                    <span>Swim :  </span>
                                    <small>{{getUserChallangeData.userSwimming}}</small>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <h6 class="text-center">Group Data</h6>
                    <div class="card-body">
                        <ul class="list-group shadow-none">
                            <li class="list-group-item">
                                <div class="list-details">
                                    <small>TOTAL HOURS : </small>
                                    <span>{{getUserChallangeData.sumofCycleRunWalk}}</span>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="list-details">
                                    <small>INDOOR HOURS : </small>
                                    <span>{{getUserChallangeData.userIndoorHr}}</span>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="list-details">
                                    <span>PARTICIPANTS :  </span>
                                    <small>{{getUserChallangeData.totalParticipants}}</small>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="list-details">
                                    <span>CYCLE (KMS) :  </span>
                                    <small>{{getUserChallangeData.totalCycling}}</small>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="list-details">
                                    <span>RUN (KMS) :  </span>
                                    <small>{{getUserChallangeData.totalRunning}}</small>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="list-details">
                                    <span>WALK (KMS) :  </span>
                                    <small>{{getUserChallangeData.totalWalking}}</small>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="list-details">
                                    <span>HIKE (M) :  </span>
                                    <small>{{getUserChallangeData.userHiking}}</small>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="list-details">
                                    <span>SWIM (KMS) :  </span>
                                    <small>{{getUserChallangeData.totalSwimming}}</small>
                                </div>
                            </li>
                        </ul>

                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card z-depth-3 row d-flex flex-row mb-2" *ngFor="let data of getUserActivityData">
                <div class="card-body col-2  ">
                    <h6>{{data.name}}</h6>
                </div>
                <div class="card-body col-2 ">
                    <h6>{{data.type}}</h6>
                </div>
                <div class="card-body col-2 ">
                    <h6>{{data.start_date}}</h6>
                </div>
                <div class="card-body col-2 ">
                    <h6>{{data.distance}}</h6>
                </div>
                <div class="card-body col-1 bg-danger ">
                    <a he>
                        <mat-icon>delete_forever</mat-icon>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div> -->