<div class="eventSteper ">
    <div class="steper rounded ml-4 bg-white ">
        <h6>UPcomming Events</h6>
        <mat-tab-group mat-align-tabs="start ">
            <mat-tab label="Cycling">
                <div class="row">
                    <div class="cycleLogo col-4">
                    </div>
                    <div class="Cycling col-4">
                        <h5>Cycling Event</h5>
                        <p>At Pune</p>
                        <p>Date :06 jun 2021</p>
                        <span>
                        <button class="btn btn-primary ">Update </button>
                        <button class="btn btn-primary m-4">Create New</button>
                    </span>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Running">
                <div class="row">
                    <div class="runningLogo col-4">

                    </div>
                    <div class="Cycling col-4">
                        <h5>Running Event</h5>
                        <p>At Pune, Nigdi</p>
                        <p>Date :05 jun 2021</p>
                        <span>
                        <button class="btn btn-primary ">Update </button>
                        <button class="btn btn-primary m-4">Create New</button>
                    </span>
                    </div>
                </div>
            </mat-tab>
            <!-- <mat-tab label="Hiking">Content 3</mat-tab> -->
        </mat-tab-group>

    </div>
</div>