.steper {
    height: 300px;
    width: 100%;
    box-shadow: 8px 5px 5px -2px #888;
}

@media (max-width: 500px) {
    .eventSteper {
        flex-direction: column;
    }
}

.Cycling {
    padding-top: 50px;
    /* padding-left: 30px; */
    height: auto;
}

.cycleLogo {
    background-image: url(../../../assets/cycleLogo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.runningLogo {
    background: url(../../../assets/runninglogo.png) no-repeat left center;
}