<div class="main-container">
    <div class="container">
        <h2>Login</h2><br>
        <form #signInForm="ngForm" (ngSubmit)='loginUser(signInForm);'>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="emailAddressField" ngModel email required #emailAddressField="ngModel">
                <small class="form-text text-muted" *ngIf="emailAddressField.touched && !emailAddressField.valid"> please Enter Email Address</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="passwordValueField" ngModel required #passwordValueField="ngModel">
                <small class="form-text text-muted" *ngIf="passwordValueField.touched && !passwordValueField.valid"> please Enter password</small>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>