.main-container {
    height: 608px;
    width: 100%;
    /* background-color: blue; */
    padding-top: 100px;
}

input.ng-touched.ng-invalid {
    border: 1px solid red;
}

h2 {
    color: black;
    font-family: Verda;
    font-size: xx-large;
    margin-right: 300px;
    padding-left: 150px;
    margin-top: 20px;
    padding-top: 20px;
}

.container {
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 308px;
    padding-bottom: 100px;
    border-radius: 10px;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0, 3);
}

button {
    margin-top: 15px;
    margin-left: 140px;
}

.text-muted {
    color: white;
}

label {
    color: black;
    font-family: italic;
}

.text-muted {
    color: rgb(136, 9, 9) !important;
}