<div class="container ">
    <div class="row scrollCss">
        <div class="col-lg-3">
            <div class="profile-card-4 z-depth-3">
                <div class="card">
                    <div class="card-body text-center bg-primary rounded-top">
                        <div class="user-box">
                            <img src="{{popupData.photo}}" width="200" alt="user avatar">
                        </div>
                        <h5 class="mb-1 text-white">{{popupData.name}}</h5>
                        <p class="text-light">StavaID : {{popupData.stravaId}}</p>
                    </div>
                    <div class="card-body">
                        <ul class="list-group shadow-none">
                            <li class="list-group-item">
                                <div class="list-icon">
                                    <i class="fa fa-phone-square"></i>
                                </div>
                                <div class="list-details">
                                    <small>ACTIVE DAYS </small>
                                    <span>{{Userdata.userActivedays}}</span>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="list-icon">
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <div class="list-details">
                                    <small>TOTAL HR :</small>
                                    <span>{{Userdata.userTotalHr}}</span>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="list-details">
                                    <span>CYCLE :  </span>
                                    <small>{{Userdata.userCycling}}</small>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="list-details">
                                    <span>Run:  </span>
                                    <small>{{Userdata.userRunning}}</small>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="list-details">
                                    <span>Walk :  </span>
                                    <small>{{Userdata.totalWalking}}</small>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="list-details">
                                    <span>Hike :  </span>
                                    <small>{{Userdata.userHiking}}</small>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="list-details">
                                    <span>Swim :  </span>
                                    <small>{{Userdata.userSwimming}}</small>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-9 ">
            <!-- <mat-form-field>
                <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
            </mat-form-field> -->
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Type</th>
                        <th scope="col">Date</th>
                        <th scope="col">Distance</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of getUserActivityData">

                        <td>{{ (data.length>20)? (data | slice:0:20)+'...':(data.name) }}</td>
                        <td>{{data.type}}</td>
                        <td>{{data.start_date}}</td>
                        <td>{{data.distance /1000 | number: '1.2'}} Km</td>
                        <td>
                            <a class="m-4">
                                <mat-icon>delete_forever</mat-icon>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>