<!-- <div class="container ">
    <div class="row scrollCss">
        <div class="col-lg-4">
            <div class="profile-card-4 z-depth-3">
                <div class="card">
                    <div class="card-body text-center bg-primary rounded-top">
                        <div class="user-box">
                            <img src="{{popupData.photo}}" alt="user avatar">
                        </div>
                        <h5 class="mb-1 text-white">{{popupData.name}}</h5>
                        <p class="text-light">StavaID : {{popupData.stravaId}}</p>
                    </div>
                    <div class="card-body">
                        <ul class="list-group shadow-none">
                            <li class="list-group-item">
                                <div class="list-icon">
                                    <i class="fa fa-phone-square"></i>
                                </div>
                                <div class="list-details">
                                    <small>Mobile Number : </small>
                                    <span>{{popupData.mobile}}</span>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="list-icon">
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <div class="list-details">
                                    <small>Email Address : </small>
                                    <span>{{popupData.email}}</span>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="list-icon">
                                    <i class="fa fa-globe"></i>
                                </div>
                                <div class="list-details">
                                    <span>Premium :  </span>
                                    <small>{{popupData.premium}}</small>
                                </div>
                            </li>
                        </ul>

                    </div>
                    <div class="card-footer text-center">

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card z-depth-3">
                <div class="card-body">
                    <div class="d-flex flex-row mt-2 pb-2">
                        <div class="steper rounded ml-4 mr-2 bg-white ">
                            <mat-tab-group mat-align-tabs="start">
                                <mat-tab label="User Profile">
                                    <div class="tab-content p-3">
                                        <div class="tab-pane active show" id="profile">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <h6>First Name</h6>
                                                    <p>
                                                        {{popupData.profile.firstname}}
                                                    </p>
                                                    <h6>Gender</h6>
                                                    <p>
                                                        {{popupData.profile.sex}}
                                                    </p>
                                                </div>
                                                <div class="col-md-6">
                                                    <h6>Last Name</h6>
                                                    <p>{{popupData.profile.lastname}}</p>
                                                    <h6>Date of Birth</h6>
                                                    <p>{{popupData.dob}}</p>

                                                </div>
                                                <div class="col-md-6">
                                                    <h6>Strava Join Date</h6>
                                                    <p>
                                                        {{popupData.stravajoindate}}
                                                    </p>
                                                    <h6>City</h6>
                                                    <p>
                                                        {{popupData.city}}
                                                    </p>
                                                </div>
                                                <div class="col-md-6">
                                                    <h6>Updated at</h6>
                                                    <p>{{popupData.updatedAt}}</p>
                                                    <h6>Country</h6>
                                                    <p>{{popupData.profile.country}}</p>

                                                </div>
                                                <div class="col-md-12">
                                                    <h6>Bio</h6>
                                                    <p>{{popupData.profile.bio}}</p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </mat-tab>
                                <mat-tab label="outdoors ">
                                    <div class="tab-content p-3 ">
                                        <div class="tab-pane active show " id="profile ">
                                            <div class="row ">
                                                <div class="col-md-6 ">
                                                    <h6>About</h6>
                                                    <p>
                                                        Web Designer, UI/UX Engineer
                                                    </p>
                                                    <h6>Hobbies</h6>
                                                    <p>
                                                        Indie music, skiing and hiking. I love the great outdoors.
                                                    </p>
                                                </div>
                                                <div class="col-md-6 ">
                                                    <h6>Recent badges</h6>
                                                    <span class="badge badge-primary "><i class="fa fa-user "></i> 900 Followers</span>
                                                    <span class="badge badge-success "><i class="fa fa-cog "></i> 43 Forks</span>
                                                    <span class="badge badge-danger "><i class="fa fa-eye "></i> 245 Views</span>
                                                </div>
                                                <div class="col-md-12 ">
                                                    <h5 class="mt-2 mb-3 "><span class="fa fa-clock-o ion-clock float-right "></span> Recent Activity</h5>
                                                    <table class="table table-hover table-striped ">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <strong>Abby</strong> joined ACME Project Team in <strong>`Collaboration`</strong>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <strong>Gary</strong> deleted My Board1 in <strong>`Discussions`</strong>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <strong>Kensington</strong> deleted MyBoard3 in <strong>`Discussions`</strong>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <strong>John</strong> deleted My Board1 in <strong>`Discussions`</strong>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <strong>Skell</strong> deleted his post Look at Why this is.. in <strong>`Discussions`</strong>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </mat-tab>
                                <mat-tab label="Indoore ">
                                    <div class="tab-content p-3 ">
                                        <div class="tab-pane active show " id="profile ">
                                            <h5 class="mb-3 ">User Profile</h5>
                                            <div class="row ">
                                                <div class="col-md-6 ">
                                                    <h6>About</h6>
                                                    <p>
                                                        Web Designer, UI/UX Engineer
                                                    </p>
                                                    <h6>Hobbies</h6>
                                                    <p>
                                                        Indie music, skiing and hiking. I love the great outdoors.
                                                    </p>
                                                </div>
                                                <div class="col-md-6 ">
                                                    <h6>Recent badges</h6>
                                                    <span class="badge badge-primary "><i class="fa fa-user "></i> 900 Followers</span>
                                                    <span class="badge badge-success "><i class="fa fa-cog "></i> 43 Forks</span>
                                                    <span class="badge badge-danger "><i class="fa fa-eye "></i> 245 Views</span>
                                                </div>
                                                <div class="col-md-12 ">
                                                    <h5 class="mt-2 mb-3 "><span class="fa fa-clock-o ion-clock float-right "></span> Recent Activity</h5>
                                                    <table class="table table-hover table-striped ">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <strong>Abby</strong> joined ACME Project Team in <strong>`Collaboration`</strong>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <strong>Gary</strong> deleted My Board1 in <strong>`Discussions`</strong>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <strong>Kensington</strong> deleted MyBoard3 in <strong>`Discussions`</strong>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <strong>John</strong> deleted My Board1 in <strong>`Discussions`</strong>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <strong>Skell</strong> deleted his post Look at Why this is.. in <strong>`Discussions`</strong>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </mat-tab>
                            </mat-tab-group>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div> -->
<p>
    {{popupData.name}},{{popupData.mobile}},{{popupData.name}},{{popupData.challengeId}}
</p>