<nav class="navbar navbar-light bg-dark sticky-sm-top">
    <div class="container-fluid">
        <a class="navbar-brand text-white">IndoAthleticSociety</a>
        <form class="d-flex">
            <input class="form-control m-2 p-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success m-2 p-2" type="submit">Search</button>
            <button class="btn btn-success m-2 p-2" routerLink="login"> Login</button>
        </form>
    </div>
</nav>
<!-- <router-outlet></router-outlet> -->