<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-dark" *ngIf="authenticationService.isAuthenticated">
    <div class="container-fluid ">
        <a class="navbar-brand text-white">IndoAthleticSociety</a>
        <div class="collapse navbar-collapse float-right" id="navbarNav">
            <ul class="navbar-nav float-lg-left ">
                <li class="nav-item float-lg-left">
                    <a class="nav-link text-white " routerLink="/login">
                        <mat-icon>logout</mat-icon>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>