<div>
    <div class="row ">
        <div class="evenCerds text-center  pt-4  rounded bg-white ml-4">
            <h6>Total Cycling</h6>
            <p>{{lederdata.totalCycling}}</p>
        </div>
        <div class="evenCerds text-center  pt-4  rounded bg-white ml-4">
            <h6>Total Running</h6>
            <p>{{lederdata.totalRunning}}</p>
        </div>
        <div class="evenCerds text-center  pt-4  rounded bg-white ml-4">
            <h6>Total Walking</h6>
            <p>{{lederdata.totalWalking}}</p>
        </div>
        <div class="evenCerds text-center pt-4 rounded bg-white ml-4">
            <h6>Total</h6>
            <p>{{lederdata.sumofCycleRunWalk}}</p>
        </div>
    </div>