<div>
    <div class="row ">
        <div class="evenCerds text-center  pt-4  rounded  ml-4" style="background-color: #9C27B0;">

            <h5>Total Cycling</h5>
            <p>{{lederdata.totalCycling}} Km</p>
            <i class="fa fa-bicycle" aria-hidden="true"></i>

        </div>
        <div class="evenCerds text-center  pt-4  rounded  ml-4" style="background-color: red;">
            <h5>Total Running</h5>
            <p>{{lederdata.totalRunning}} Km</p>
        </div>
        <div class="evenCerds text-center  pt-4  rounded  ml-4" style="background-color: #FFC107;">
            <h5>Total Walking</h5>
            <p>{{lederdata.totalWalking}} Km</p>
        </div>
        <div class="evenCerds text-center pt-4 rounded  ml-4" style="background-color: #8BC34A;">
            <h5>Total</h5>
            <p>{{lederdata.sumofCycleRunWalk}} Km</p>

        </div>
    </div>