<div>
    <div class="row ">
        <div class="evenCerds rounded bg-white ml-4">
            <div class="widget widget-tile">
                <div class="chart sparkline" id="spark1"><canvas width="85" height="35" style="display: inline-block; width: 85px; height: 35px; vertical-align: top;"></canvas></div>
                <div class="data-info">
                    <div class="desc">Cycling Users</div>
                    <div class="value"><span class="indicator indicator-equal mdi mdi-chevron-right"></span><span class="number" data-toggle="counter" data-end="113">40%</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="evenCerds rounded bg-white ml-4">
            <div class="widget widget-tile">
                <div class="chart sparkline" id="spark2"><canvas width="81" height="35" style="display: inline-block; width: 81px; height: 35px; vertical-align: top;"></canvas></div>
                <div class="data-info">
                    <div class="desc">Running Users</div>
                    <div class="value"><span class="indicator indicator-positive mdi mdi-chevron-up"></span><span class="number" data-toggle="counter" data-end="80" data-suffix="%">40%</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="evenCerds rounded bg-white ml-4">
            <div class="widget widget-tile">
                <div class="chart sparkline" id="spark3"><canvas width="85" height="35" style="display: inline-block; width: 85px; height: 35px; vertical-align: top;"></canvas></div>
                <div class="data-info">
                    <div class="desc">Treaking Users</div>
                    <div class="value"><span class="indicator indicator-positive mdi mdi-chevron-up"></span><span class="number" data-toggle="counter" data-end="532">20%</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="evenCerds rounded bg-white ml-4">
            <div class="widget widget-tile">
                <div class="chart sparkline" id="spark4"><canvas width="85" height="35" style="display: inline-block; width: 85px; height: 35px; vertical-align: top;"></canvas></div>
                <div class="data-info">
                    <div class="desc">Total Users</div>
                    <div class="value"><span class="indicator indicator-negative mdi mdi-chevron-down"></span><span class="number" data-toggle="counter" data-end="113">100%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>