<div class="row">
    <app-sidebar class="col-2 "></app-sidebar>
    <div class="col-10">
        <main class="col-md-9 ms-sm-auto col-lg-12 px-md-4 ">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap  pt-3 pb-2 mb-4 border-bottom">
                <h4 class="pl-2">Dashboard</h4>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group me-2">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Monthly</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Quarterly</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Yearly</button>
                    </div>
                    <div class="dropdown ml-2">
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
            </div>
            <app-event-cards></app-event-cards>
            <!--===========================Data Table===============================-->

            <div class="mainbg mt-4 rounded bg-white pt-2 mb-4 ">
                <div class="form-group col-6 float-right">
                </div>
                <div class="table-responsive">
                    <app-table></app-table>
                </div>
            </div>
        </main>
    </div>
</div>
<router-outlet></router-outlet>