<div class="row">
    <app-sidebar class="col-2 "></app-sidebar>
    <div class="col-10">
        <main class="col-md-9 ms-sm-auto col-lg-12 px-md-4 ">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap  pt-3 pb-2 mb-4 border-bottom">
                <h4 class="pl-2">Dashboard</h4>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group me-2">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Monthly</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Quarterly</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Yearly</button>
                    </div>
                    <div class="dropdown ml-2">
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
            </div>
            <app-event-cards></app-event-cards>
            <!--===========================Data Table===============================-->
            <div class="mainbg mt-4 rounded bg-white pt-2 mb-4 ">
                <div class="table-responsive">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>StavaID</th>
                                <th>Cycling</th>
                                <th>Running</th>
                                <th>Walking</th>
                                <th>Swimming</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of eventdata">
                                <td>{{user.id}}</td>
                                <td><a mat-button (click)="openPopover(user.stravaId)">{{user.name}}</a></td>
                                <td>{{user.stravaId}}</td>
                                <td>{{user.cycling/1000 | number: '1.2'}} Km</td>
                                <td>{{user.running/1000 | number: '1.2'}} Km</td>
                                <td>{{user.walking/1000 | number: '1.2'}} Km</td>
                                <td>{{user.swim/1000 | number: '1.2'}} Km</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    </div>
</div>
<router-outlet></router-outlet>